<div class="menu">
  <div class="men_top" id="main_icon" onclick="change_mode2()" onmousedown="active00(this)" onmouseup="onmouseup00(this)">
    <i class="fas fa-horse-head"></i>
  </div>

  <div class="men_mid">
    <div class="men" onclick="show2(this)" id="tableFactory" onmousedown="active(this)">
      <div class="men_mi">
        <i class="fas fa-dice-d20"></i>
      </div>
      <font>מפעל טבלאות</font>
    </div>
    <!-- <div class="men" onclick="show2(this)" id="files" onmousedown="active(this)">
      <div class="men_mi">
        <i class="fas fa-file-alt"></i>
      </div>
      <font>ניהול איכות</font>
    </div> -->
    <div class="men" onclick="show2(this)" id="contacts" onmousedown="active(this)">
      <div class="men_mi">
        <i class="fas fa-user"></i>
      </div>
      <font>ניהול משתמשים</font>
    </div>
    <div class="men" onclick="show2(this)" id="work_dates" onmousedown="active(this)">
      <div class="men_mi">
        <i class="fas fa-hard-hat"></i>
      </div>
      <font>שחזור קבצים</font>
    </div>


  </div>
</div>
